.loadingIcon{
	animation-name: spin;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	width:100px;
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg) scale(.5);
	}
	100%{
		transform: rotate(360deg);
	}
}